{% extends 'layout.html' %}

{% block content %}
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugit laudantium magni, debitis. Hic laudantium id, labore animi
    laboriosam deserunt nesciunt explicabo pariatur nisi voluptatibus
    quasi neque ducimus enim asperiores quas? Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Magnam provident excepturi, consectetur,
    tempora iusto accusamus ipsum culpa, atque, id libero quo! Provident
    molestias aliquid, consequatur neque tenetur deleniti rerum, dicta!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Quas nam in magni accusantium nobis consectetur optio, voluptates
    quidem iusto ab dolor quisquam doloremque, quos ipsum, voluptate
    nostrum, eveniet minima atque. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Tempore officia quam quidem, unde
    saepe, amet aut delectus ex molestias ea fugiat dicta beatae eius
    blanditiis numquam provident, doloribus. Officia, fugit?
  </p>
{% endblock %}
